small{

    p{
        color:white;
        font-size: 20px;
    }
}

.info{
    color: white;
    font-size: 20px;

}

.containerPie{
    margin: 7px;
    background-color: bisque;
}

.containerForm{
    background-color: bisque;
    margin-left: 3px;
}
.formFooter{
    padding: 10px;
}

.redes:hover{
    scale: 1.5;
}




@media screen and (max-width: 1100px){
    
    
    }