/* pagina 5 */



.rutina1{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    border: 3px solid red;
}

.rutina1 iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}