$color1: rgb(214, 137, 43);
$blanco: rgb(255, 255, 255);
$color2: bisque;
$negro: rgb(0, 0, 0);
$color3:rgb(181, 176, 22);

%bordeOvalo{

    border-radius: 30%;
    
}

@mixin flex ( $direction,$justify,$aling  ){
    display: flex ;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
    
}